<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>

    <body>
        <h1>Welcome to 99 Cats!</h1>

        <p> Hi, <%= @user.username %>, we hope you enjoy the site!</p>
    </body>

</html>